# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Уроки\для студентов урок 7 курс js1\домашнее задние урок 7 js1\2 выполните практические задания\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
